

.separator div,
body {
	background-color:	#1f1f1f;
	color:				#bbbbbb;
}

a,
.vntd-accent-color {
	color:				#ffffff;
}



/* Navigation */

#navigation-sticky.white-nav,
.second-nav.white-nav,
.white-nav .nav-menu ul.dropdown-menu {
	background-color:	#222222;
}

#navigation-sticky.white-nav,
.second-nav.white-nav .nav-menu,
.first-nav.white-nav .nav-menu ul.dropdown-menu li a,
.site-text-logo {
	color:	#ffffff;
}


.second-nav.white-nav .nav-inner .nav-menu ul li.active a,
.white-nav .nav-menu ul.dropdown-menu li a:hover,
.white-nav .nav-menu ul.dropdown-menu li.active a,
.nav>li>a:hover, .nav>li>a:focus {
	background-color:	#f8f8f8 !important;
}

/* Page Title */

section.page_header {
	background-color:	#171717;
	border-color:		#171717;
}

section.page_header .page_header_inner .p_head_left h1.p-header {
	color:	#ffffff;
}

section.page_header .page_header_inner .p_head_left p.p-desc {
	color:	#e4e4e4;
}

section.page_header .page_header_inner .p_head_right a.p-head-button {
	color:	#6a6a6a;
}

/* Footer Widgets */


/* Footer */

.footer.white-bg {
	background-color:	#191919 !important;
	border-color:		#191919;
	color:				#8d8d8d;
}
#page-content .footer p,#page-content .footer a,.footer.white-bg a,
.footer.white-bg p {
	color:				#8d8d8d;
}

/* Typography */

 h1,h2,h3,h4,h5,h6 { color:#ffffff; }
/* Text Colors */

	.colored,
	.testimonials li.text h1 span,
	#page-content .vntd-pricing-box.p-table.active h1,
	#page-content .vntd-pricing-box.p-table.active h3,
	#address .address-soft a.mail-text:hover,
	.white-nav .nav-menu ul.dropdown-menu li a:hover,
	.vntd-icon-box.box:hover .left-icon a,
	.white-nav .nav-menu ul.dropdown-menu li.active a,
	footer.footer a:hover,
	section.page_header .page_header_inner .p_head_right a.p-head-button:hover,
	body.dark-layout section.page_header .page_header_inner .p_head_right a.p-head-button:hover,
	#blog .details .post-info a.post-item:hover,
	.dark-nav .nav-menu ul.dropdown-menu li a:hover,
	.dark-nav .nav-menu ul.dropdown-menu li.active a,
	a.text-button:hover,
	.blog .details a.post-item:hover,
	span.post-item a:hover,
	.nav-menu ul li a:hover,
	.nav-menu ul li.active a,
	#page-content .color-accent,
	.blog .post a.read-more-post:hover,
	.address-soft a.mail-text:hover,
	.bar.widget_rss a.rsswidget:hover,
	.twitter-feed-icon:hover,
	.woocommerce ul.products li.product .price,
	#woo-nav-cart i.added,
	.woocommerce .star-rating span:before,
    #navigation .nav li.active a,
	.vntd-portfolio-carousel.blog-carousel .works .item h1.f-head a:hover
	{
		color: #ffffff;
	}

	.current_page_item > a,
	.current-menu-ancestor > a,
	.current-menu-parent > a,
	.current-menu-parent .page_item > a,
	.current-menu-ancestor .page_item > a,
	.price  {
		color: #ffffff !important;
	}

/* Background Colors */

	.colored-bg,
	a.page-content-button:hover,
	.feature-box:hover a.box-icon,
	.vntd-portfolio-carousel .works .item .featured-ball:hover,
	.vntd-cta-button:hover,
	.vntd-pricing-box.p-table.active a.p-button,
	.vntd-pricing-box.p-table a.p-button:hover,
	a.active-colored,
	.blocked,
	.modal .modal-inner a.close:hover,
	.portfolio a.portfolio-view-more:hover,
	body.dark-layout .portfolio a.portfolio-view-more:hover,
	#team .team .team-boxes .item .member-details .details a.member-detail-button:hover,
	.bar .tagcloud a:hover,
	#respond #submit:hover,
	ul.pagination li.active a,
	ul.pagination li.active a:hover,
	body.dark-layout ul.pagination li.active a,
	body.dark-layout ul.pagination li.active a:hover,
	.contact form button.contact-form-button:hover,
	.btn-accent,
	.vntd-list-bg i,
	.vntd-accent-bgcolor,
	.pagination .current,
	.contact .wpcf7-submit:hover,
	.blog .post.sticky .blog-head,
	.portfolio .portfolio-items div.colio-active-item .item-inner,
	#page-content .colio-navigation a:hover,
	#page-content .colio-close,
	.woocommerce ul.products li.product .button:hover,
	::selection,
	#woo-nav-cart .button:hover,
	.woocommerce #page-content .button:hover,
	.woocommerce #review_form #respond .form-submit input:hover,
	.woocommerce ul.products li.product .onsale,
	.woocommerce span.onsale,
	#page-content .woocommerce .button:hover,
	.woocommerce a.remove:hover,
	.woocommerce .widget_price_filter .ui-slider .ui-slider-range,
	.vntd-portfolio-carousel.blog-carousel .works .owl-controls .owl-buttons div:hover,
	#wrapper .member-detail-button.colored-bg:hover {
		background-color: #ffffff;
	}

	a.page-content-button:hover {
		background-color:#ffffff;
	}

	.contact .wpcf7-submit:hover {
		background-color:#ffffff;
	}

	.vntd-portfolio-carousel .works .item .featured-ball:hover {
		background-color:#ffffff;
	}

/* Border Colors */

	.colored-border,
	.feature-box:hover a.box-icon:after,
	a.text-button:hover,
	#team .team .team-boxes .item .member-details .details a.member-detail-button:hover,
	.bar .tagcloud a:hover,
	ul.pagination li.active a,
	ul.pagination li.active a:hover,
	.bs-callout-north,
	.vntd-icon-box.box:hover .left-icon a,
	.btn-accent,
	.pagination .current,
	.contact .wpcf7-submit:hover,
	blockquote,
	.nav-cart-products,
	.pulsed,
	.woocommerce div.product .woocommerce-tabs ul.tabs li.active  {
		border-color:#ffffff;
	}



	.tabs .nav-tabs li.active a,
	.nav-menu ul.dropdown-menu{
		border-top-color:#ffffff;
	}

	.vntd-tour .nav-tabs li.active a {
		border-left-color:#ffffff;
	}

/* Font Sizes */

 .semibold { font-weight:600; }